

.panel-control{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20;
}
.panel-control aside nav a{ 
    text-decoration: none;
    font-size: 20px;
    letter-spacing:2px;
    }

.panel-control div {
    width: 80%;
    height: 100%;
}
